name: Publish & Build

on: push

env:
  ORG_GRADLE_PROJECT_mavenUsername: ${{ secrets.mavenUsername }}
  ORG_GRADLE_PROJECT_mavenPassword: ${{ secrets.mavenPassword }}

jobs:
  build:
    if: ${{ false }} # TODO REMOVE
    name: Build & Check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Check APIs
        uses: gradle/gradle-build-action@v1
        with:
          distributions-cache-enabled: true
          configuration-cache-enabled: true
          dependencies-cache-enabled: true
          arguments: |
            spotlessCheck 
            apiCheck 
            test 
            --stacktrace 
            --scan

      - name: Clean project
        uses: gradle/gradle-build-action@v1
        with:
          arguments: clean

  publish-snapshot:
    if: "!startsWith(github.event.head_commit.message, 'Release')"
    name: Publishing Snapshot
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Publish publications
        uses: gradle/gradle-build-action@v1
        with:
          # Publish all projects
          arguments: publish --stacktrace

  publish-release:
    if: "startsWith(github.event.head_commit.message, 'Release')"
    name: Publishing Release
    needs: build
    runs-on: ubuntu-latest
    env:
      release-publications: true

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Publish publications
        uses: gradle/gradle-build-action@v1
        with:
          # Publish all projects
          arguments: |
            publish 
            closeAndReleaseSonatypeRepository 
            --stacktrace
